@import '../../../../styles/variables';
@import '../../../../styles/faloka';

.card-product{
    margin: 0;
    box-sizing:border-box;
    border: 1px solid #C1C1C1;
    border-bottom: 0;
    background-color: #FAFAFA;
    display:flex!important;
    align-items: center !important;

    .product-image{
        padding: 0;
        flex:unset;
        display:content;
        height: 5.25rem;
        width: 5.25rem;
        border-right: 1px solid #C1C1C1;

        .image{
            width:100% !important;
            height:100% !important;
        }
    }

    .product-detail{
        height:100%;
        padding: 0 1.25rem;
        display:inline-grid;
        white-space: nowrap;
        position: relative;

        .product-name{            
            font-size:1em;
            font-weight: 500;
        }

        .product-size{
            color: #888;
            font-size:.8em;
            font-weight:300;
            margin-bottom:.5rem;

            .size-value{
                color:#333;
                font-weight:400;
            }
        }

        .product-quantity{
            color: #666;
            font-size:.75em;
            font-weight:500;
        }

        .product-price{
            position: absolute;
            top:36.845%;
            right: 0;
            padding-right: 2rem;
            text-align: right;
            font-weight:500;
            color:$pink-accent;
            min-width: 48rem;
        }
    }
    
}

a.card-product:hover{
    text-decoration: none!important;
    background-color: #FFF;
}
.card-product:nth-last-child(0), 
.card-product:nth-last-child(1){
    border-bottom: 1px solid #C1C1C1;
}