@import '../../../styles/variables';

.popular-category-card {
  height: auto;
  border-radius: 0;
  border: none;
  white-space: nowrap;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 300px;

  img {
    border-radius: 0;
    flex: 1;
    object-fit: cover;
    object-position: center;
    transition: transform .1s ease-in;
  }

  .card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: .5rem 1.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: $white;
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}