@import '../../styles/variables';

.shopping-summary {
  .summary-section {
    border-bottom: 4px solid $gray-light;
  
    &__container {
      padding: 1rem;
    }
  
    &__title {
      text-transform: uppercase;
    }
  }

  .loading {
    width: 1.5rem;
    height: 1.5rem;
  }
}
