@import '../../styles/variables';
@import '../../styles/typography';
@import '../../styles/faloka';

.product-card {
  border-radius: 0;
  border: none;
  font-size: 1rem;
  font-family: $lato;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  a:hover{
    text-decoration: none !important;
  }
  
  .product-image {
    position: relative;
    user-select: none;
    overflow: hidden;

    img, .placeholder {
      height: 300px;
      object-fit: cover;
      object-position: center;
      transition: transform .1s ease-in;
      border-radius: 0;
    }

    .discount-tag {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $accent-1;
      color: $white;
      padding: .25rem 0.75rem;
      font-size:0.75em;
      font-weight: 600;
      z-index: 99;
    }
  }

  .product-detail {
    padding: 0 !important;
    padding-top: 1rem !important;
    .product-brand {
      font-weight: 500;
    }

    .product-name {
      margin-bottom:.75rem;
      color: $gray;
    }

    .product-price {
      font-weight: 900!important;

      .price {
        &--cut {
          text-decoration: line-through;
          color: $gray-light;
        }
    
        &--discount {
          color: $black;
        }
      }
    }
  }  
}

.product-card :hover {
  .product-image img {
    transform: scale(1.05);
  }
}


