@import '../../styles/variables';
@import '../../styles/typography';
@import '../../styles/faloka';

.product-card {
  border-radius: 0;
  font-size: 1rem;
  font-family: $lato;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  a:hover{
    text-decoration: none!important;
  }
  
  .product-image {
    position: relative;
    user-select: none;
    overflow: hidden;

    img {
      height: 300px;
      object-fit: cover;
      object-position: center;
      transition: transform .1s ease-in;
    }

    .discount-tag {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $green-secondary-accent;
      color: $white;
      padding: .25rem 0.75rem;
      font-size:0.75em;
      font-weight: 600;
      z-index: 99;
    }
  }

  .product-detail {
    .product-name{
      color:$black-muted;
      font-weight: 375;
      margin-bottom:.75rem;
    }

    .product-prize{
      font-weight: 700!important;
      .price {
        &--cut {
          text-decoration: line-through;
        }
    
        &--discount {
          color: $green-accent !important;
        }
      }
    }
  }  
}

.product-card :hover {
  .product-image img {
    transform: scale(1.05);
  }
}


