@import './variables';

.text-gray {
  color: $gray;
}

.icon {
  --icon-size: 1.5rem;
  height: var(--icon-size);
  width: var(--icon-size);
}

.inner-addon { 
  position: relative; 
}

.inner-addon .icon-placeholder {
  position: absolute;
  left: 0;
  height: 100%;
  width: 3.75rem;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon{
    color: #878787;
  }
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  3.75rem !important; }
.right-addon input { padding-right: 3.75rem !important; }