@import 'typography';

// Font
$josefin: 'Josefin Sans', sans-serif;
$lato: 'Lato', sans-serif;
$khula: 'Khula', sans-serif;

// Color
$red: #E32C2C;
$black: #1E0F14;
$black-muted:#323232;
$white: var(--bs-white);
$white-accent: #eee;
$gray: #7e7e7e;
