@import 'typography';

// Font
$josefin: 'Josefin Sans', sans-serif;
$lato: 'Lato', sans-serif;
$khula: 'Khula', sans-serif;

// Color
$red: #E32C2C;
$black: var(--bs-dark);
$white: var(--bs-white);
$gray: #7e7e7e;