@import 'typography';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

// Font
$josefin: 'Josefin Sans', sans-serif;
$lato: 'Lato', sans-serif;
$khula: 'Khula', sans-serif;

// Color
$red: #E32C2C;
$black: #1E0F14;
$black-muted:#969696;
$white: #FFF;
$white-accent: #EEE;
$gray: #7e7e7e;
$gray-light: #dfdfdf;
$blue-light: #E8F8F9;
$accent-1: #DB317A;
$accent-2: #006E87;