//Faloka color pallete
$primary: #1E0F14;
$green-accent:#01B8BC;
$green-secondary-accent:#006E87;
$pink-accent:#DB317A;
$pink-secondary-accent:#FE7193;
$navbar-color:#FAFAFA;
$background-color:#fffdfd;

.btn-flat{
    border-radius: 0!important;
}