.cart-item {
  &__content {
    img {
      width: 100px;
    }
  }

  &__spinner {
    width:12rem;
      
    input {
      border: 1px solid #C1C1C1!important;
      margin-left:0.25rem !important;
      margin-right:0.25rem !important;
      text-align: center !important;
      padding: 0;
    }

    button{
      padding: 0 1rem;
      border-radius: 0;
      font-size: 1.25em;
    }

    button:disabled{
      border: 1px solid #C1C1C1!important;
      background-color: #fff!important;
      color:#C1C1C1;
      opacity: 1;
    }
  }
}