@import '../../../styles/variables';

.select-products {
  &__image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
  }

  &__done {
    color: $accent-2;
  }
}