@import '../../../styles/variables';
@import '../../../styles/faloka';

.transaction{
    .card-transaction{
        margin-top:1.5rem;
        border: 1px solid #C1C1C1;
        white-space: nowrap;
        
        .transaction-header{
            padding:0.75rem 1.5rem;
            background-color: #f5f5f5;
            border-bottom: 1px solid #C1C1C1;
            display: flex!important;
            justify-content: space-between !important;
            align-items: center !important;

            .header-date{
                min-width:12.5rem;

                small{
                    color: #333;
                    display: flex!important;
                    justify-content: start !important;
                    align-items: center !important;

                    .icon{
                        --icon-size: 1.25rem;
                        height: var(--icon-size);
                        width: var(--icon-size);
                        margin-right: .5rem;
                    }
                }
            }

            .header-detail{
                min-width:7.5rem;

                a{
                    font-weight:600;
                    color:$green-accent; 
                }

                a:hover{
                    text-decoration: none!important;
                    color:$green-secondary-accent;
                }
            }
        }

        .transaction-brand{
            padding: 1rem 1.5rem 1.5rem 1.5rem;
            border-bottom: 1px solid #C1C1C1;
            
            .brand-name{
                font-weight:bold;
                font-size:1em;
                margin-bottom: .5rem;
            }
        
            .brand-product{
                margin-top: .5rem;
            }

            .brand-more{
                color: #888;
                padding: .25rem;
                display: flex!important;
                justify-content: center !important;
                align-items: center !important;
                border-left: 1px solid #C1C1C1;
                border-right: 1px solid #C1C1C1;
                border-bottom: 1px solid #C1C1C1;
            }

            .brand-more:hover{
                text-decoration: none!important;
                background-color:#FAFAFA!important;
                color: #666 !important;;
            }
        }
        
        .transaction-footer{
            margin:0!important;
            padding:0.5rem 1.5rem 1rem 1.5rem;
            display: flex !important;
            align-items: center !important;

            .total-label{
                font-size: 1em;
                font-weight: 500;
                margin-right:1rem;
            }
            
            .transaction-price{
                margin-right:1.5rem;
                min-width: 7.5rem;
                text-align: right;

                span{
                    font-size:1.5em;
                    font-weight:700;
                    color:$pink-accent;
                }
            }
    
            button{
                width:100%;
            }
        }

        .transaction-footer > * {
            padding:0;
        }
    }
}