@import '../../styles/variables';

.mix-and-match-menu {
  .tab-content {
    overflow-y: auto;
    height: 560px;
    display: block;
  }

  .item {
    a {
      background-color: $black;
      color: $white;
    }
  }
}