@import '../../../styles/variables';
@import '../../../styles/faloka';

.profile{
    margin: 1.5rem 0;
}

.tab-transaction{
    .nav-item {       
        flex-grow: 1 !important;

        button{
            width: 100%;
        }

        .nav-link {
            font-family: $lato;
            border: 0px ;
            color: $black-muted;
            font-weight: 400;
        }

        .active{
            font-weight: 550;
            color: $green-accent;
            border-bottom: 2px solid $green-accent;
        }
    }

    .tab-content{
        padding: 1rem .75rem;

        .info-payment{
            color: red;
            font-weight: 400;
        }

        .info-confirmation{
            color: black;
            font-weight: 400;
        }
    }
}
    