@import '../../../styles/variables';
@import '../../../styles/faloka';

.profile{
    margin: 1.5rem 0;
}

.info-payment{
    color: red;
    font-weight: 400;
}

.info-confirmation{
    color: black;
    font-weight: 400;
}    